.hr1 {
    border: none;
    border-top: 3px double #000000;
    color: #000000;
    overflow: visible;
    text-align: center;
    height: 10px;
  width: 50%;
  margin: 0 auto;
  }
  
  .hr1::after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }
       .hr2 {
    border: none;
    border-top: 3px double #000000;
    color: #000000;
    overflow: visible;
    text-align: center;
    height: 10px;
  width: 100%;
  margin: 0 auto;
  }
  
  .hr2::after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
  }
  
  img{
    width: 150px;
  }
  header{
    color: #002060;
  }
  
  .rules{
  border: 2px solid black;
  }

  h1 {
    font-family: "Khmer OS Muol Light", Arial, sans-serif;
}