.title{
    background-image: linear-gradient(45deg, #FFD059, #004AAD);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 900;
    font-size: 50px;
}

.card {
    position: relative;
    background-color: #ffffff;
    padding: 1em;
    z-index: 5;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 300px;
    transition: 200ms ease-in-out;
}

.username {
    color: #800000;
    font-size: 0.85em;
    font-weight: 600;
}

.body {
    display: flex;
    flex-direction: column;
}

.body h2 {
    color: #800000;
}

.body .text {
    margin: 0 10px 0 0;
    white-space: pre-line;
    color: #800000;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 4px;
}

.footer {
    position: relative;
    width: 100%;
    color: #9fa4aa;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-top: 10px;
}

.footer div {
    margin-right: 1rem;
    height: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer .btn {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.footer .btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
