.questions{
border: 1px solid #800000;
padding: 1rem;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
background-color: rgb(255, 250, 244);
}

.content-header{
    border: 1px solid #800000;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1{
font-weight: 900

}


.trash{
    border: none;
    background: none;
    color:rgb(28, 117, 219);
      }
    
      .trash:hover{
    color: #800000;
    
      }