.gradient-custom-2 {




    /*background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);


    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593); */

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/images/teachers.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}

.gradient-custom-3 {


    background: #121111;

    background: -webkit-linear-gradient(to right, #adb5bd, #dee2e6, #f8f9fa, #f8f9fa);


    background: linear-gradient(to right, #c2c2c2, #8b8b8b, #929292, #383838);


}

.gradient-custom-3:hover {
    background: none;
    color: #121111;
}

.whole {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url("/images/CleanBG.png");
    ;
    background-position: center;
    background-size: cover;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;

    }
}

.reg {
    transition: all 0.5s;
    font-size: 17px;
    padding: 1ch 2ch;
    background-color: white;
    color: #000;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
        4px 4px 0px hsl(0, 0%, 80%),
        6px 6px 0px hsl(0, 0%, 70%),
        8px 8px 0px hsl(0, 0%, 60%),
        10px 10px 0px hsl(0, 0%, 50%),
        12px 12px 0px hsl(0, 0%, 40%),
        14px 14px 0px hsl(0, 0%, 30%),
        16px 16px 0px hsl(0, 0%, 20%),
        18px 18px 0px hsl(0, 0%, 10%);
}

.reg:hover {
    background-color: hsl(0, 0%, 0%);
    color: #f7f5f5;
    box-shadow: none;
}


.log-btn {
    align-items: center;
    background-color: transparent;
    color: #000000;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}

.log-btn:before {
    background-color: #000000;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25, .8, .25, 1);
    width: 0;
}

.log-btn:hover:before {
    background-color: #000000;
    width: 3rem;
}