td{
width: 20%;

}

tr th{
border: 1px black solid !important;

}

tr td{
    border: 1px black solid !important;
    
    }
    tr .total{
width: 1rem !important;

    }

    h1{
color: #800000;

    }