td{
width: 20%;

}

tr th{
border: 1px black solid !important;

}

tr td{
    border: 1px black solid !important;
    
    }
    tr .total{
width: 1rem !important;

    }

    h1{
color: #800000;

    }


    .container{
background-color: #fff;
padding: 3rem;
border-radius: 10px;
    }