<% layout('/layouts/boilerplate') -%>
<link rel="stylesheet" href="/css/examBuilder.css">
    <div class="container-md">
        <h1>Exam Builder</h1>
        <form action="/builder" method="POST" class="mt-4"  enctype="multipart/form-data">
            <div class="row">
                <div class="col">
                    <!-- Name input -->
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="title" name="title" placeholder="Title" required>
                    </div>
                </div>
                <div class="col">
               
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="term" name="term" placeholder="Term" required>
                    </div>
                </div>
                <div class="col">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline">
                        <select class="form-select program text-muted" aria-label="Default select example" name="level"
                            required>
                            <option selected disabled class="text-muted">Level</option>
                            <option value="EAL-1A">EAL-1A</option>
                            <option value="EAL-1B">EAL-1B</option>
                            <option value="EAL-2A">EAL-2A</option>
                            <option value="EAL-2B">EAL-2B</option>
                            <option value="EAL-3A">EAL-3A</option>
                            <option value="EAL-3B">EAL-3B</option>
                            <option value="EAL-4A">EAL-4A</option>
                            <option value="EAL-4B">EAL-4B</option>
                            <option value="EAL-5A">EAL-5A</option>
                            <option value="EAL-5B">EAL-5B</option>
                            <option value="EAL-6A">EAL-6A</option>
                            <option value="EAL-6B">EAL-6B</option>
                            <option value="EAL-7A">EAL-7A</option>
                            <option value="EAL-7B">EAL-7B</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline">
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject"
                            required>
                    </div>
                </div>
                <div class="col">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline">
                    <select class="form-select program text-muted" aria-label="Default select example" name="time" required>
                        <option selected disabled class="text-muted">Time</option>
                    <option value="Part-Time 1">Part-Time 1</option>
                    <option value="Part-Time 2">Part-Time 2</option>
                    </select>
                    </div>
                </div>
            </div>
            <hr>
            <h2>Contents</h2>
            <div id="contents">
                <div class="content mb-4">
                    <div class="row content-header mb-3">
                        <div class="col">
                            <div data-mdb-input-init class="form-outline">
                                <select class="form-select mb-2" name="contents[0][type]" required>
                                    <option value="" selected disabled>Select Content Type</option>
                                    <option value="Listening">Listening</option>
                                    <option value="Vocabulary">Vocabulary</option>
                                    <option value="Grammar">Grammar</option>
                                    <option value="Reading">Reading</option>
                                </select>
                            </div>
                            <div class="form-outline mb-2" id="audioField_0" style="display: none;">
                                <input type="file" class="form-control mb-2" name="contents[0][audio]">
                            </div>
                            <div class="form-outline mb-2" id="storyField_0" style="display: none;">
                                <textarea class="form-control mb-2" name="contents[0][story]" placeholder="Story"></textarea>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <input type="text" class="form-control mb-2" name="contents[0][remark]"
                                placeholder="Content Remark">
                        </div>
                      
                    <div class="row">
                    <div class="col-md">
                        <input type="text" class="form-control mb-2" name="contents[0][instruction]"
                            placeholder="Instruction">
                            </div>
                    </div>
                    </div>
                    <div class="questions mb-3">
                        <div class="question mb-2">
                            <input type="text" class="form-control mb-2" name="contents[0][questions][0][question]"
                                placeholder="Question" required>
                            <input type="text" class="form-control mb-2 " name="contents[0][questions][0][choices][0]"
                                placeholder="Choice 1" required>
                            <input type="text" class="form-control mb-2" name="contents[0][questions][0][choices][1]"
                                placeholder="Choice 2" required>
                            <input type="text" class="form-control mb-2" name="contents[0][questions][0][choices][2]"
                                placeholder="Choice 3" required>
                            <input type="text" class="form-control mb-2" name="contents[0][questions][0][choices][3]"
                                placeholder="Choice 4" required>
                            <input type="text" class="form-control mb-2" name="contents[0][questions][0][correctAnswer]"
                                placeholder="Correct Answer" required>
                            <input type="number" class="form-control mb-2" name="contents[0][questions][0][points]"
                                placeholder="Points" required>
                        </div>
                        
                    </div>
                    <button type="button" class="addQuestion btn btn-sm btn-primary">Add Question</button>
                    </div>
                </div>
            </div>
            <button type="button" id="addContent" class="btn btn-success mb-3">Add Content</button>
            <button type="submit" class="btn btn-primary mb-3">Publish Exam</button>
        </form>
    </div>

    <script src="/javascript/exam.js"></script>